/***** COLORS - DELETE BEFORE SUBMITTING *****/

/*
    background: 'payne's grey' (blue): #546a7b
    lighter background: 'cadet grey': #92a0ab
    text - smokey black: #100d10
    section background: 'Isabelline' (white): #ff2f4eb
    unknown: 'dark coral' (orange): cf5c36
    unknown: 'pastel yellow': #fffd82
    borders/input text: yellow/gold: #e2c044
    article border: light yellow (flax): #ecd688
*/

/***** CSS RESET *****/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    /*  CHROME  */
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*  DELETE BEFORE SUBMITTING  */
    /*    border: 1px solid grey*/
}


/***** GENERAL STYLES *****/

body {
    background-color: #546a7b;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2392a0ab' fill-opacity='0.06'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    color: #100d10;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-weight: 700;
    color: #a58c32;
}

a:visited {
    /*    color: #cf5c36;*/
}

form,
#list-names,
#info-section,
#contact-info,
#news-section,
#wiki-section {
    background-color: #f2f4eb;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
    /*    border-radius: 5px;*/
    padding-top: 1rem;
    padding-bottom: 2rem;
    /*    box-shadow: 2px 2px 2px #100d10;*/
    vertical-align: middle;
}

main section h2 {
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e2c044;
}

main section div {
    margin-bottom: 1rem;
}


/***** HEADER *****/

header {
    color: #f1f4eb
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 5rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
    letter-spacing: 2px;
    text-shadow: 3px 3px #7c6926;
}

header p {
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: right;
    text-shadow: 3px 3px #7c6926;
    border-top: 1px solid #e2c044;
}


/***** SCREEN 1: INPUT STATE *****/

main form {
    height: 20rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main form p {
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}

main form select {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    /*    border-radius: 5px;*/
    border-bottom: 1px solid #e2c044;
    height: 4rem;
    width: 20rem;
    background-color: #f2f4eb;
    padding-left: 1rem;
    color: #7c6926;
}

main form input::placeholder {
    padding-left: .8rem;
    color: #e2c044;
}

main form button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    width: 10rem;
    height: 4rem;
    /*    border-radius: 5px;*/
    margin-left: -8px;
    background-color: #f2f4eb;
    border: 1px solid #e2c044;
}

main form .invalid-text {
    color: #af1b3f;
    font-size: 1.5rem;
}

/***** SCREEN 2: LIST POLITICIAN NAMES *****/

main section #house,
main section #senate {
    margin-top: 2rem;
    text-align: center;
}

main section #house {
    border-right: 1px solid #e2c044;
}

main section div ul li {
    list-style: none;
    line-height: 50px;
}


/***** SCREEN 3: RESULTS SECTION *****/

/** Contact Info **/

main section img {
    margin-top: 1.5rem;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

main section #party {
    text-align: center;
}

main section #contact-info {
    max-height: 25rem;
    margin-left: 1rem;
    margin-top: .4rem;
    box-shadow: 0;
    max-width: 73%;
}


/** News & Wiki **/

main section article {
    max-height: 25rem;
    padding-top: 1rem;
    margin-top: .5rem;
    /*    box-shadow: 2px 1px 3px #ecd688;*/
    overflow: hidden;
}

main section article h4 {
    height: 5rem;
}

/** Wiki **/
